<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head') %>
</head>
<body>
    <header>
        <%- include('../layout/header') %>
    </header>
<section>
    <p>Will this show up?</p>
</section>

<script></script>
</body>

</html>