<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="./css/reset.css" />  <<--use the correct location
<link rel="stylesheet" href="./css/style.css" />  <<--use the correct location -->
<title>My LIIFT 4 Tracker</title>